<h2>User Page</h2>
<div class="page" *ngIf="!error">
  <div class="your-info">
    <h3>{{user.name}}さん</h3>
    <hr>
    <div>
      <h4 style="display: inline-block">スキル・特徴</h4>
      <button class="btn btn-primary skill-button" (click)="staticModal.show()">スキルを推薦する</button>
    </div>
    <div>
      <div *ngFor="let tag of taggedUser">
        <div class="tag">
          <div class="tag-count">
            {{tag.cnt}}
            <div class="tag-add" *ngIf="tag.isTagged" (click)="addUserByTag(tag.name)">+</div>
          </div>
          <div class="tag-name">
            {{tag.name}}
          </div>
        </div>
        <span class="tagged-user" *ngFor="let tagged of tag.tagged">
          {{tagged.name}}
        </span>
      </div>
    </div>
  </div>
  <!-- Other Users -->
  <div class="recommend">
    <div class="recommend-title">他のユーザ</div>
    <ul *ngFor="let user of users">
      <li><a [routerLink]="['/user', user.id]">{{user.name}}</a></li>
    </ul>
  </div>
</div>
<div *ngIf="error">
  ユーザがいません
</div>

<!-- Modal -->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">スキルの追加</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="skill" placeholder="PHP,Java,etc...">
        <button class="btn btn-success" (click)="addTag()">追加</button>
      </div>
    </div>
  </div>
</div>