.page{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.your-info{
    width: 70%;
}

.recommend{
    width: 30%;
}

.skill-button{
    margin-left: 50px;
}

ul li{
    list-style-type: none;
    text-align: center;
}
li a{
    display: block;
    cursor: pointer;
    background-color: #cdc333;
    text-decoration: none;
    width: 150px;
    height: 20px;
}

.tag{
    display: inline-block;
    margin: 10px 30px 10px 0;
    width: 100px;
}

.tag-count{
    display: inline-block;
    border-radius: 20px;
    background-color: #0076FF;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 10px;
}

.tag-name{
    display: inline-block;
}

.tagged-user{
    border-bottom: 2px solid #D4E8FF;
    margin-right: 8px;
}