.page{
    display: flex;
    justify-content: center;
    width: 100vw;
}

nav{
    height: 50px;
    width: 100vw;
    background-color: #F4F4F4;
}

nav a{
    display: inline-block;
    height: 50px;
    width: 100px;
    padding: 15px;
    text-decoration: none;
}

nav a:hover{
    border-bottom: solid 4px #0076FF;
}

.your-info{
    display: inline-block;
    width: 70%;
}

.recommend{
    display: inline-block;
    width: 30%;
}

.skill-button{
    margin-left: 50px;
}

ul li{
    list-style-type: none;
    text-align: center;
}
li a{
    display: block;
    cursor: pointer;
    border-bottom: 2px solid #FFDFDF;
    text-decoration: none;
    width: 150px;
    height: 20px;
}

.tags{
    display: flex;
    justify-content:flex-start;
    width: inherit;
    margin: 10px 30px 10px 0;
}

.tag-count{
    border-radius: 20px;
    background-color: #0076FF;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 10px;
}

.tag-name{
    width: 100px;
    margin: auto 0 auto 50px;
}

.tagged{
    margin: auto 0 auto 10px;
}

.tagged-user{
    border-bottom: 2px solid #D4E8FF;
    margin-right: 8px;
}

.recommend-title{
    font-size: 25px;
    margin-left: 55px;
    margin-bottom: 50px;
}